# Final Challenge: Noise Pollution

In [1]:
import pandas as pd
import requests
from io import BytesIO

## Context

1. Introduction
In the last two decades changes in individuals’
behaviors, modifications of cities rhythms and
investments of Municipalities to revitalize
historical city centers led to increasing open-air
nightlife activities.
This is true especially in Italy (like others
Mediterranean and university cities), where a large
number of young people usually meet in
residential historic districts, attracted by a high
density of restaurants, bars, pubs, and clubs, and
spent all night for several days each week chatting
and drinking. Often the center of nightlife changes
in a few years, following new trends and new
commercial initiatives, renewing the need for both
citizens and the public administration to find a
good balance between amusement, security, and
quality of public spaces.
Municipalities are called to face this dynamic
phenomenon and its negative externalities, firstly
leisure noise, where sources are mostly people
with their behaviors in an urban open space.

In this paper, the approach of the City of Torino to
this complex challenge in the San Salvario district
is described, from the deployment of an ad hoc
sound monitoring network, the collection, and
analysis of data, the evaluation of indicators for
communication activities to the implementation
and monitoring of reduction actions. 

2. San Salvario District area
The area of interest is part of the historic district of
San Salvario, located near the central railway
station and bounded by Vittorio Emanuele II
(North), Nizza (West), Madama Cristina (East) and
Marconi (South) boulevards.
This residential area is characterized by the grid
plan typical of the old neighborhoods of Torino;
with about 470 four/five floors buildings with an
internal court; about 7300 people live in the area
with a surface of 0,26 km2
.
The district hosts a daily big open market and
offers various commercial activities. Home to an
increasing immigrants' community, the district is
an example of cultural integration. 

2.1 Nightlife “Movida” and noise issues
Starting from the 90s, the nightlife grew in this
city district thanks to a lot of pubs, low-cost bars,
restaurants, liquor stores and wine cellars,
boutiques and multi-ethnic shops that have been
opened. These activities stay open until late and
have completely reshaped the map of city
entertainment, known as “Movida” [from Spanish:
movement, happening].
The nightlife hot spots in San Salvario are in Largo
Saluzzo and Via Baretti, where crowds gradually
increase, from the areas in front of bars until
occupying all public spaces, thus causing huge
side effects: noise (chatting, shouting, quarrels),
traffic blockages, irregular parking, obstruction of
driveways, rubbish on the ground, etc.
The City Administration conducted some spot
monitoring campaigns on noise levels in summer
time; those measurements revealed that the legal
zonal limits (50 dB(A) Leq night (22-06) and 55 dB(A)
Leq 1hour on the façades) where overpassed during
the weekend nights, with Leq night form 58 dB(A) up
to 72 dB(A) and Leq 1hour from 64 dB(A) up to 75
dB(A) between 11 PM and 3 AM.
These campaigns pointed a high variability of
noise levels in the area when a lot of people meet
in narrow streets; they also showed how difficult
could be controlling noise levels in open urban
spaces.
At the same time, citizens asked for more
information and actions to face the noise problems
caused by “Movida” and they conducted by
themselves extra surveys on noise levels and noise
effects [8].
To promote an integrated approach to the
management of “Movida”, the Municipality
decided to strengthen its knowledge of noise levels
in San Salvario district and started the design and
implementation of an ad hoc noise monitoring
network. 

The location of sensors was optimized to cover all
significant feature of “Movida” area (Figure 3):
one in a very crowded square (S_03, not active in
daytime), three in narrow streets with pubs and
bars (S_01, S_04, S_05), one in a boulevard for
traffic noise measurement (S_06) and the last one
in a quieter area with no crowd and low traffic
(S_02), for global reference. The choice of points
of installation was driven also by the power
supply, so light poles, public offices and bike
sharing station where preferred.

Previous Initiatives:
4.2 City Ordinances for noise reduction
In Summer 2017, two City Ordinances entered in
force, with the aim to limit noise pollution of
“Movida” in the central area, San Salvario district
included.
The first one, Ordinance n. 46, limits alcohol
takeaway selling, as many people reach the area of
“Movida” and buy alcohol in bottles at a low
price, spending all night wandering or sitting in the
streets, chatting and shouting. So, takeaway selling
alcohol in bottles was forbidden after 8 PM and for
all night, establishing the same rules for bars,
shop, and store. This Ordinance stayed in force
from 8th June until 30th September.
The second one, Ordinance n. 60, limits serving
food and beverage in terraces or outside bars and
shop, as many people stay outside these venues
enjoying mild weather, or smoking, or because of
overcrowding, disturbing inhabitants with an
increasing din. Serving food and beverage was
forbidden after 1:30 AM (from Monday to
Thursday), after 2 AM (Friday) or after 3 AM
(Saturday, Sunday and feast day). Furthermore, a
compulsory presence of stewards was introduced,
to limit bad behaviours of customers. This
Ordinance stayed in force from 8th July until 30th
July.
Data collected allowed the assessment of effects
induced to the new regulations on Lnights levels,
proving that both Ordinances led to a noise
reduction, with a cumulative benefit of more than
3 dB(A) (Table 2).
Table 2. Leisure noise improvements in summer 2017,
S_03 point
Lnight
Ordinance
n. 42 8
th
June30th September
Ordinance
n.60 8th-30th
July
1
st October31th December
2016 69.8 70.4 68.9
2017 67.7 66.9 68.4
∆ -2.1 -3.5 -0.5

In [47]:
df_sensors_def = pd.read_csv('data/noise_sensor_list.csv', sep=';')
df_sensors_def

,code,address,Lat,Long,streaming
0,s_01,"Via Saluzzo, 26 Torino","45,059172","7,678986",https://userportal.smartdatanet.it/userportal/...
1,s_02,"Via Principe Tommaso, 18bis Torino","45,057837","7,681555",https://userportal.smartdatanet.it/userportal/...
2,s_03,Largo Saluzzo Torino,"45,058518","7,678854",https://userportal.smartdatanet.it/userportal/...
3,s_05,Via Principe Tommaso angolo via Baretti Torino,"45,057603","7,681348",https://userportal.smartdatanet.it/userportal/...
4,s_06,"Corso Marconi, 27 Torino","45,055554","7,68259",https://userportal.smartdatanet.it/userportal/...

In [49]:
df_wifi = pd.read_csv('data/WIFI Count.csv', sep=',')
df_wifi

                  Time  No. of Visitors
0     2018-10-24 17:00               47
1     2018-10-24 18:00              155
2     2018-10-24 19:00              181
3     2018-10-24 20:00              211
4     2018-10-24 21:00              239
...                ...              ...
1634  2018-12-31 19:00              158
1635  2018-12-31 20:00              171
1636  2018-12-31 21:00              151
1637  2018-12-31 22:00              125
1638  2018-12-31 23:00              168

[1639 rows x 2 columns]

In [51]:
df_businesses = pd.read_csv('data/businesses.csv', sep=';')
df_businesses

,WKT,ADDRESS,OPEN YEAR,OPEN MONTH,TYPE,Description,Merchandise Type
0,POINT (1396322.217 4990301.69),VIA CLAUDIO LUIGI BERTHOLLET 24,1977,1,EXTRALIMENTARI,PICCOLE STRUTTURE,Extralimentari
1,POINT (1396322.217 4990301.69),VIA CLAUDIO LUIGI BERTHOLLET 24,1985,6,ALIMENTARI,PICCOLE STRUTTURE,Panificio
2,POINT (1396303.762 4990325.001),VIA CLAUDIO LUIGI BERTHOLLET 25/F,2017,9,ALTRO,DIA di somministrazione,Nessuna
3,POINT (1396434.395 4990540.6),CORSO VITTORIO EMANUELE II 21/A,2013,10,ALTRO,DIA di somministrazione,Nessuna
4,POINT (1396434.395 4990540.6),CORSO VITTORIO EMANUELE II 21/A,2009,2,ALTRO,DIA di somministrazione,Nessuna
...,...,...,...,...,...,...,...
823,POINT (1396561.148 4990473.514),CORSO VITTORIO EMANUELE II 9,2016,9,ALIMENTARI,PICCOLE STRUTTURE,217
824,POINT (1396561.148 4990473.514),CORSO VITTORIO EMANUELE II 9,2016,7,EXTRALIMENTARI,PICCOLE STRUTTURE,208
825,POINT (1396561.148 4990473.514),CORSO VITTORIO EMANUELE II 9,1993,4,EXTRALIMENTARI,PICCOLE STRUTTURE,Extralimentari
826,POINT (1396319.554 4990303.098),VIA CLAUDIO LUIGI BERTHOLLET 24/C,2001,12,EXTRALIMENTARI,PICCOLE STRUTTURE,Abbigliamento
827,POINT (1396322.217 4990301.69),VIA CLAUDIO LUIGI BERTHOLLET 24,2008,7,ALTRO,Somministrazione,Nessuna

In [53]:
df_sim_june = pd.read_csv('data/sim_count/SIM_count_04_100618.csv', sep=';', encoding='latin-1')
df_sim_june

,cluster,data_da,data_a,numero_presenze,layer_id,layer_nome,dettaglio(secondi)
0,Presenze,2018-06-10T21:00:00Z,2018-06-10T22:00:00Z,3278,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
1,Presenze,2018-06-10T20:00:00Z,2018-06-10T21:00:00Z,3324,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
2,Presenze,2018-06-10T19:00:00Z,2018-06-10T20:00:00Z,3318,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3,Presenze,2018-06-10T18:00:00Z,2018-06-10T19:00:00Z,3187,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
4,Presenze,2018-06-10T17:00:00Z,2018-06-10T18:00:00Z,2980,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
...,...,...,...,...,...,...,...
3019,Visitatori Stranieri,2018-06-04T02:00:00Z,2018-06-04T03:00:00Z,168,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3020,Visitatori Stranieri,2018-06-04T01:00:00Z,2018-06-04T02:00:00Z,174,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3021,Visitatori Stranieri,2018-06-04T00:00:00Z,2018-06-04T01:00:00Z,181,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3022,Visitatori Stranieri,2018-06-03T23:00:00Z,2018-06-04T00:00:00Z,191,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3023,Visitatori Stranieri,2018-06-03T22:00:00Z,2018-06-03T23:00:00Z,200,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600

In [55]:
df_sim_jan = pd.read_csv('data/sim_count/SIM_count_15_210118.csv', sep=';', encoding='latin-1')
df_sim_jan

,cluster,data_da,data_a,numero_presenze,layer_id,layer_nome,dettaglio(secondi)
0,Presenze,2018-01-21T22:00:00Z,2018-01-21T23:00:00Z,3026,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
1,Presenze,2018-01-21T21:00:00Z,2018-01-21T22:00:00Z,3088,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
2,Presenze,2018-01-21T20:00:00Z,2018-01-21T21:00:00Z,3119,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3,Presenze,2018-01-21T19:00:00Z,2018-01-21T20:00:00Z,3114,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
4,Presenze,2018-01-21T18:00:00Z,2018-01-21T19:00:00Z,2991,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
...,...,...,...,...,...,...,...
3019,Visitatori Stranieri,2018-01-15T03:00:00Z,2018-01-15T04:00:00Z,122,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3020,Visitatori Stranieri,2018-01-15T02:00:00Z,2018-01-15T03:00:00Z,121,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3021,Visitatori Stranieri,2018-01-15T01:00:00Z,2018-01-15T02:00:00Z,126,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3022,Visitatori Stranieri,2018-01-15T00:00:00Z,2018-01-15T01:00:00Z,131,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3023,Visitatori Stranieri,2018-01-14T23:00:00Z,2018-01-15T00:00:00Z,139,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600

In [57]:
df_sim_march = pd.read_csv('data/sim_count/SIM_count_19_250318.csv', sep=';', encoding='latin-1')
df_sim_march

,cluster,data_da,data_a,numero_presenze,layer_id,layer_nome,dettaglio(secondi)
0,Presenze,2018-03-25T21:00:00Z,2018-03-25T22:00:00Z,3267,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
1,Presenze,2018-03-25T20:00:00Z,2018-03-25T21:00:00Z,3373,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
2,Presenze,2018-03-25T19:00:00Z,2018-03-25T20:00:00Z,3410,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3,Presenze,2018-03-25T18:00:00Z,2018-03-25T19:00:00Z,3358,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
4,Presenze,2018-03-25T17:00:00Z,2018-03-25T18:00:00Z,3229,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
...,...,...,...,...,...,...,...
3001,Visitatori Stranieri,2018-03-19T03:00:00Z,2018-03-19T04:00:00Z,159,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3002,Visitatori Stranieri,2018-03-19T02:00:00Z,2018-03-19T03:00:00Z,159,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3003,Visitatori Stranieri,2018-03-19T01:00:00Z,2018-03-19T02:00:00Z,165,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3004,Visitatori Stranieri,2018-03-19T00:00:00Z,2018-03-19T01:00:00Z,174,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3005,Visitatori Stranieri,2018-03-18T23:00:00Z,2018-03-19T00:00:00Z,180,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600

In [58]:
df_noise_2018 = pd.read_csv('data/noise_data/san_salvario_2018.csv', skiprows= [0,1,2,3,4,5,6,7], sep =';')
df_noise_2018

            Data    Ora    C1    C2    C3    C4    C5
0     01-01-2018  00:00  68,7   NaN  76,0   NaN  66,6
1     01-01-2018  01:00  68,3   NaN  68,2   NaN  65,4
2     01-01-2018  02:00  59,8   NaN  64,4   NaN  64,4
3     01-01-2018  03:00  67,4   NaN  67,5   NaN  61,8
4     01-01-2018  04:00  68,0   NaN  64,5   NaN  60,5
...          ...    ...   ...   ...   ...   ...   ...
8755  31-12-2018  19:00  61,9  60,2  60,3  59,6  61,6
8756  31-12-2018  20:00  62,5  58,9  58,2  61,6  61,6
8757  31-12-2018  21:00  62,8  56,7  59,2  58,2  59,3
8758  31-12-2018  22:00  60,5  57,2  58,9  58,1  57,2
8759  31-12-2018  23:00  65,4  61,2  68,5  62,3  65,3

[8760 rows x 7 columns]

In [67]:
df_noise_2018['date_hour'] = df_noise_2018['Data'] + ' ' + df_noise_2018['Ora']
df_noise_2018.drop(columns= ['Data', 'Ora'], inplace= True)

In [119]:
df_police_1 = pd.read_csv('data/police_complaints/OpenDataContact_Gennaio_Giugno_2018.csv')
df_police_1

,Categoria criminologa,Sottocategoria Criminologica,Circoscrizione,Localita,Area Verde,Data,Ora
0,Allarme Sociale,Altro,6.0,BELMONTE/(VIA),NaN,01/02/2018,NaN
1,Allarme Sociale,Altro,6.0,DONATORE DI SANGUE/(PIAZZA DEL),NaN,12/02/2018,NaN
2,Allarme Sociale,Altro,4.0,CIBRARIO/LUIGI (VIA),NaN,26/02/2018,NaN
3,Allarme Sociale,Altro,1.0,ROMA/(VIA),NaN,02/03/2018,NaN
4,Allarme Sociale,Altro,4.0,ZUMAGLIA/(VIA),NaN,05/03/2018,NaN
...,...,...,...,...,...,...,...
1168,Qualità Urbana,Decoro e degrado urbano,9.0,FLECCHIA/GIOVANNI (VIA),NaN,27/06/2018,NaN
1169,Qualità Urbana,Decoro e degrado urbano,2.0,PERTINACE/PUBLIO ELVIO (VIA),NaN,29/06/2018,NaN
1170,Qualità Urbana,Decoro e degrado urbano,4.0,CAPELLI/CARLO (VIA),NaN,29/06/2018,NaN
1171,Qualità Urbana,Veicoli abbandonati,6.0,LEINI'/(VIA),NaN,11/04/2018,NaN
1172,Qualità Urbana,Veicoli abbandonati,7.0,CATANIA/(VIA),NaN,21/05/2018,NaN

In [121]:
df_police_2 = pd.read_csv('data/police_complaints/OpenDataContact_Luglio_Dicembre_2018.csv')
df_police_2

,Categoria criminologa,Sottocategoria Criminologica,Circoscrizione,Localita,Area Verde,Data,Ora
0,Allarme Sociale,Altro,8.0,D'AZEGLIO/MASSIMO (CORSO) ...,NaN,16/07/2018,NaN
1,Allarme Sociale,Altro,1.0,REGINA MARGHERITA/(CORSO) ...,NaN,17/07/2018,NaN
2,Allarme Sociale,Altro,10.0,DUINO/(VIA) ...,NaN,14/09/2018,NaN
3,Allarme Sociale,Altro,NaN,NaN,NaN,02/10/2018,9.40
4,Allarme Sociale,Altro,9.0,CARDUCCI/GIOSUE' (PIAZZA) ...,NaN,27/11/2018,11.53
...,...,...,...,...,...,...,...
990,Qualità Urbana,Decoro e degrado urbano,6.0,VERCELLI/(CORSO) ...,NaN,31/12/2018,11.08
991,Qualità Urbana,Veicoli abbandonati,4.0,BOSELLI/PAOLO (VIA) ...,NaN,17/09/2018,NaN
992,Qualità Urbana,Veicoli abbandonati,4.0,PIFFETTI/PIETRO (VIA) ...,NaN,22/09/2018,14.01
993,Qualità Urbana,Veicoli abbandonati,6.0,FOSSATA/(VIA) ...,NaN,22/09/2018,9.55
994,Qualità Urbana,Veicoli abbandonati,9.0,ROSARIO SANTA FE'/(VIA) ...,NaN,16/10/2018,NaN

In [123]:
df_police = pd.concat([df_police_1,df_police_2])
df_police

,Categoria criminologa,Sottocategoria Criminologica,Circoscrizione,Localita,Area Verde,Data,Ora
0,Allarme Sociale,Altro,6.0,BELMONTE/(VIA),NaN,01/02/2018,NaN
1,Allarme Sociale,Altro,6.0,DONATORE DI SANGUE/(PIAZZA DEL),NaN,12/02/2018,NaN
2,Allarme Sociale,Altro,4.0,CIBRARIO/LUIGI (VIA),NaN,26/02/2018,NaN
3,Allarme Sociale,Altro,1.0,ROMA/(VIA),NaN,02/03/2018,NaN
4,Allarme Sociale,Altro,4.0,ZUMAGLIA/(VIA),NaN,05/03/2018,NaN
...,...,...,...,...,...,...,...
990,Qualità Urbana,Decoro e degrado urbano,6.0,VERCELLI/(CORSO) ...,NaN,31/12/2018,11.08
991,Qualità Urbana,Veicoli abbandonati,4.0,BOSELLI/PAOLO (VIA) ...,NaN,17/09/2018,NaN
992,Qualità Urbana,Veicoli abbandonati,4.0,PIFFETTI/PIETRO (VIA) ...,NaN,22/09/2018,14.01
993,Qualità Urbana,Veicoli abbandonati,6.0,FOSSATA/(VIA) ...,NaN,22/09/2018,9.55
994,Qualità Urbana,Veicoli abbandonati,9.0,ROSARIO SANTA FE'/(VIA) ...,NaN,16/10/2018,NaN

### Merging Dataframe

In [68]:
df_noise_2018

        C1    C2    C3    C4    C5         date_hour
0     68,7   NaN  76,0   NaN  66,6  01-01-2018 00:00
1     68,3   NaN  68,2   NaN  65,4  01-01-2018 01:00
2     59,8   NaN  64,4   NaN  64,4  01-01-2018 02:00
3     67,4   NaN  67,5   NaN  61,8  01-01-2018 03:00
4     68,0   NaN  64,5   NaN  60,5  01-01-2018 04:00
...    ...   ...   ...   ...   ...               ...
8755  61,9  60,2  60,3  59,6  61,6  31-12-2018 19:00
8756  62,5  58,9  58,2  61,6  61,6  31-12-2018 20:00
8757  62,8  56,7  59,2  58,2  59,3  31-12-2018 21:00
8758  60,5  57,2  58,9  58,1  57,2  31-12-2018 22:00
8759  65,4  61,2  68,5  62,3  65,3  31-12-2018 23:00

[8760 rows x 6 columns]

In [71]:
df_wifi.rename(columns = {'Time': 'date_time'}, inplace=True)

In [111]:
df_sim_all = pd.concat([df_sim_jan, df_sim_march, df_sim_june], axis=0)
df_sim_all.reset_index(inplace=True)

In [112]:
for x, line in enumerate(df_sim_all['data_da']):
    df_sim_all['data_da'][x] = line[8:10] + line[4:7] + '-' + line[0:4] +' ' + line[11:16]

<ipython-input-112-f581f52621a1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sim_all['data_da'][x] = line[8:10] + line[4:7] + '-' + line[0:4] +' ' + line[11:16]

In [115]:
df_sim_all.rename(columns= {'data_da' : 'date_time'}, inplace=True)

In [116]:
df_sim_all

,index,cluster,date_time,data_a,numero_presenze,layer_id,layer_nome,dettaglio(secondi)
0,0,Presenze,21-01-2018 22:00,2018-01-21T23:00:00Z,3026,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
1,1,Presenze,21-01-2018 21:00,2018-01-21T22:00:00Z,3088,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
2,2,Presenze,21-01-2018 20:00,2018-01-21T21:00:00Z,3119,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
3,3,Presenze,21-01-2018 19:00,2018-01-21T20:00:00Z,3114,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
4,4,Presenze,21-01-2018 18:00,2018-01-21T19:00:00Z,2991,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
...,...,...,...,...,...,...,...,...
9049,3019,Visitatori Stranieri,04-06-2018 02:00,2018-06-04T03:00:00Z,168,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
9050,3020,Visitatori Stranieri,04-06-2018 01:00,2018-06-04T02:00:00Z,174,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
9051,3021,Visitatori Stranieri,04-06-2018 00:00,2018-06-04T01:00:00Z,181,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
9052,3022,Visitatori Stranieri,03-06-2018 23:00,2018-06-04T00:00:00Z,191,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600
9053,3023,Visitatori Stranieri,03-06-2018 22:00,2018-06-03T23:00:00Z,200,5491d6d2-0c9e-47b7-bfde-c84c632efacc,Area 1,3600

In [136]:
df_police['date_time'] = df_police['Data'] + ' ' + df_police['Ora'].astype('str')

In [139]:
df_police[df_police['Ora'] == 'nan'] #many complaints do not have hours associated with them

,Categoria criminologa,Sottocategoria Criminologica,Circoscrizione,Localita,Area Verde,Data,Ora,date_time
0,Allarme Sociale,Altro,6.0,BELMONTE/(VIA),NaN,01/02/2018,nan,01/02/2018 nan
1,Allarme Sociale,Altro,6.0,DONATORE DI SANGUE/(PIAZZA DEL),NaN,12/02/2018,nan,12/02/2018 nan
2,Allarme Sociale,Altro,4.0,CIBRARIO/LUIGI (VIA),NaN,26/02/2018,nan,26/02/2018 nan
3,Allarme Sociale,Altro,1.0,ROMA/(VIA),NaN,02/03/2018,nan,02/03/2018 nan
4,Allarme Sociale,Altro,4.0,ZUMAGLIA/(VIA),NaN,05/03/2018,nan,05/03/2018 nan
...,...,...,...,...,...,...,...,...
985,Qualità Urbana,Decoro e degrado urbano,3.0,RACCONIGI/(CORSO) ...,NaN,23/12/2018,nan,23/12/2018 nan
986,Qualità Urbana,Decoro e degrado urbano,3.0,MONTE CUCCO/(CORSO) ...,NaN,24/12/2018,nan,24/12/2018 nan
989,Qualità Urbana,Decoro e degrado urbano,8.0,CARDINALE MAURIZIO/(VIA) ...,NaN,28/12/2018,nan,28/12/2018 nan
991,Qualità Urbana,Veicoli abbandonati,4.0,BOSELLI/PAOLO (VIA) ...,NaN,17/09/2018,nan,17/09/2018 nan
994,Qualità Urbana,Veicoli abbandonati,9.0,ROSARIO SANTA FE'/(VIA) ...,NaN,16/10/2018,nan,16/10/2018 nan